<h1>hello world</h1>

<app-navbar></app-navbar>
<app-post [fromParent]="parentMessage" (messageEvent)="receiveMessage($event)"></app-post>

<h3> {{ message }}</h3>
<h3> {{ fromChild }}</h3>

<br>

<!-- property binding -->
<img [src]="imgUrl" alt="">

<!-- class binding  -->
 <p [class.text-red]="bool">Class binding example</p>

 <!-- event binding -->
  <button (click)="clickMe()">Click Event</button>

  <br>

  <!-- event filtering -->
  <!-- <input type="text" (keyup.enter)="onKeyup(username.value)" #username> -->

  <!-- Two way data binding -->
   <br><br>
   <input type="text" [(ngModel)]="username" (keyup.enter)="onKeyup()">
